
.menu-div {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 250px;
  }
  
  
  
  .menu-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  
  
  .menu-item-div {
    display: flex;
    margin-bottom: 2px;
    height: 6%;
    width: 100%;
  }
  
  
  .default-menu-item-div {
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    text-transform:capitalize;
  }
  
  .default-menu-item-div:hover {
    background-color: #8f8f8f;
    color: lightgreen;
  }
  