



.screener-picks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #505764;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

  
.screener-picks-title {
    display: flex;
    height: 8%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    color: #a7a7a7;
  }



















  



.big-bang-page-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: darkgoldenrod;
  }






    
.big-bang-list-div {
    display: flex;
    flex-direction: column;
    height: 94%;
    width: 98%;
    background-color: #303540;
    border-radius: 10px;
    overflow: hidden;
    text-transform: capitalize;
  }




.big-bang-list-body-div {
    width: 100%;
    height: 88%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    overflow-y:scroll;
    overflow-x:hidden;
}


.big-bang-list-body-div::-webkit-scrollbar { 
    display: none;  /* Chrome Safari */
} 


  .list-body-div {
    align-items: center;
  }

.big-bang-list-footer-div { 
    display: flex;
    padding-left: 25px;
    height: 4%;
    width: 100%;
    font-size: 14px;
    align-items: center;
    justify-content: space-around;
}





table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}
tbody {
    overflow: hidden;
}

tbody tr:hover {
    background-color: #abddc4;
}

th {
    height: 40px;
    position: sticky;
    top: 0;
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #cecece;
    background-color: #505764;
}
tr {
}
  
td {
    height: 80px;
}



td:nth-child(1) {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}


td:nth-child(1), th:nth-child(1) { 
    width: 100px;
}

td:nth-child(2), th:nth-child(2) { 
    width: 160px;
}
  
td:nth-child(3), th:nth-child(3) { 
    
}



.forecasting-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.forecasting-item-box {
    display: flex;
    flex-direction: column;
    width: 85px;
    height: 70%;
    overflow: hidden;
    background-color: #6f9474;
    border-radius: 10px;
    margin-left: 10px;
}

.forecasting-item-title{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: #cfcfcf;
}

.forecasting-item-value{
    font-size: 10px;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    
}




.current-quote-container {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #6d768b;
}

.current-item-box-I {
    display: flex;
    justify-content: space-evenly;
    flex: 2;
    font-size: 12px;
}


.current-item-box-II {
    display: flex;
    flex: 3;
}

.current-item {
    font-size: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}








.spinner-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}