

.alerts-page-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}


.alerts-list-section {  
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
}



.selected-alert-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 70%;
}







.alerts-list-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 98%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #505764;
}
.alerts-list-header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
.alerts-list-body-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  overflow-y:scroll;
  overflow-x:hidden;  
  font-weight: 600;
}
.alerts-list-body-div::-webkit-scrollbar { 
  display: none;  /* Chrome Safari */
 } 
.alert-item-div {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 90%;
  height: 60px;
  border-bottom: 2px solid #464c57;
  text-transform: capitalize;
  color: #ffff;
}
.alert-item-div:hover {
  background-color: #a7a7a7;
}
.alert-item-div:active {
  background-color: #353535;
}







.alerts-body-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 95%;
  border-radius: 10px;
  background-color: #505764;
  overflow: hidden;
}


.alert-title-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9%;
  width: 100%;
  text-transform: uppercase;
}
.alert-headers-div {
  display: flex;
  flex-direction: row;
  height: 5%;
  width: 100%;
}
.ticker-alert-title-I-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
}
.ticker-alert-title-II-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 75%;
}

.alert-list-item-div {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}


.alert-list-item-I-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}


.ticker-alert-title-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
}
.alert-items-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 81%;
  width: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  overflow-y:scroll;
  overflow-x:hidden;
}
.alert-items-div::-webkit-scrollbar { 
  display: none;  /* Chrome Safari */
} 
.ticker-alert-item-div {
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 60px;
  border-radius: 10px;
  background-color: #6d768b;
  margin-bottom: 5px;
  margin-top: 5px;
  flex-shrink: 0;
}
.alert-footers-div {
  display: flex;
  height: 5%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.last-list-update{
  margin-left: 20px;
}


