

.stock-watch-page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.stock-watch-section-I {
    width: 30%;
    height: 100%;
}


.stock-watch-section-II {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.stock-alerts-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 20%;
}

.stock-chart-container {  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;  
    width: 100%;
    height: 80%;
}





.stock-overview {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    background-color: #505764;
}
.stock-overview-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    margin-bottom: 20px;
    justify-content: center;
}
.stock-ticker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    font-size: 30px;
}
.stock-company {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 14px;
}
.stock-overview-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 55%;
    text-transform: capitalize;
}

.stock-overview-element {
    display: flex;
    height: 80px;
    width: 85%;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #333333;
}

.overview-item-key {
    color: #c9c9c9;
    flex: 1;
    padding-left: 12px;
}

.overview-item-value {
    font-weight: bold;
    font-size: 14px;
    flex: 1;

}





.candlestick-chart {
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 99%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #505764;
}

.candlestick-chart-header {    
    width: 100%;
    height: 4%;
}

.candlestick-chart-body {
    display: flex;
    width: 100%;
    height: 96%;
    overflow: hidden;
}



.stock-alerts {
    display: flex;
    flex-direction: column;

    width: 99%;
    height: 95%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #505764;
}
.stock-alerts-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex: 1;
}
.stock-alerts-carousel {
    display: flex;
    align-items: center;
    flex: 5;
    padding-left: 15px;
    padding-right: 15px;
} 
.stock-alert-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #683bb7;
    color: #fff;
}


