


.strategy-ranking-item-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: inherit;
}


.strategy-header-div {
    flex: 1;
    background-color: khaki;
}


.strategy-body-div {
    display: flex;
    flex-direction: row;
    flex: 11;
}


.strategy-selection-div {
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    padding-top: 10px;
    
}

.strategy-ranking-list-div {
    display: flex;
    flex:5;
    background-color: lightcoral;
}


.ticker-rank-element-div {
    width: 70%;
    height: 10%;
    background-color: lightcoral;
    margin-top: 10px;
    border-radius: 10%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    
}



.ticker-rank-element-div:hover {
    opacity: 60%;
}